{% extends "usuarios_list.html" %}

{% block content_usuarios %}
<div>
    <div>
        <div>
            <div>
                Cambiar Contraseña para {{ usuario[3] }} {{ usuario[4] }}
            </div>
            <div >
                <form method="POST" id="password_form">
                    {{ form.hidden_tag() }}

                    <div>
                        {{ form.nueva_password.label() }}
                        {{ form.nueva_password(id="nueva_password") }}
                    </div>

                    <div>
                        {{ form.confirmar_password.label() }}
                        {{ form.confirmar_password(id="confirmar_password") }}
                    </div>

                    <div>
                        {{ form.submit(class="btn btn-success") }}
                        <a href="{{ url_for('usuarios.lista_usuarios') }}" class="btn btn-secondary">
                            Cancelar
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
