{% extends "clientes_list.html" %}

{% block cliente_form %}

    <div class="flash-container-editar">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="flash-message flash-{{ category }}">
                             {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

    <h2>Registrar nuevo cliente</h2>
    <form method="POST" id="clienteForm">
    {{ form.hidden_tag() }} 
    
    <div>
        {{ form.nombre.label }}<br>
        {{ form.nombre(id="nombre", size=100) }}
    </div>

    <div>
        {{ form.telefono.label }}<br>
        {{ form.telefono(id="telefono", size=10) }}
    </div>

    <div>
        {{ form.email.label }}<br>
        {{ form.email(id="email", size=100) }}
    </div>

    <div>
        {{ form.submit(class="btn btn-success") }}
    </div>
</form>


<script src="{{ url_for('static', filename='js/validar_cliente.js') }}"></script>
{% endblock %}